*{
    margin: 20px;
    margin-bottom: 320px;
}
body{
    margin: 0;
    padding: 0;
    display:flex;
}
body{
    width: 90vw;
    height: 66vh;
    background-image: url(Artes/FIT.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
@media screen and (max-width: 768px){
    *{
        margin: 5px;
    }
    body{
        margin-top: 20px;
        height: 60vh;
        background-image: url(Artes/FIT\ CEL.jpeg);
        background-repeat: no-repeat;
        display: flex;
    }
}